
<div class="container mt-5">
<form action="/admin/add-products" method="POST" enctype="multipart/form-data">
    <p style="font-size: large;font-weight: bolder;margin-left: 200px;">Add Products</p>
    <div class="form-group col-md-6">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Name" name="name">
    </div>
     <div class="form-group col-md-6">
        <label for="name">Category</label>
        <input type="text" class="form-control" id="category" placeholder="category" name="category">
    </div>


    <div class="form-group  col-md-6">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" placeholder="Description" name="description">
    </div>
    <div class="form-group col-md-6">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price" placeholder="Price" name="price">
    </div>
   
        <div class="form-group  col-md-6">
            <label for="image">Image</label>
            <input type="file" class="form-control" id="file" name="image">
        </div>




    <button style="margin-left: 200px;" type="submit" class="btn btn-primary">Add Product</button>
</form>
</div>