<section>
    <div class="row">
        <div class="container">
            <h1>Order Placed Successfully</h1>
            <a href="/orders" class="btn btn-success" >View Orders</a>
        </div>
   
    </div>
</section>
<style>
    .row{
        display:flex ;
        flex-direction: column;
        text-align: center;
        
    }
    h1,a{
      margin-top: 5px;
       
    }
    #data{
        color: red;
    }
    
</style>