<div class="container">
<div class="col-md-12">
    <div class="row">
      
        <div class="col-md-6 mt-5">
     <form action="" id="checkout-form">
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" placeholder="Enter Address" name="address">

                </div>
                <div class="form-group">
                    <label for="pin">Pincode</label>
                    <input type="number" class="form-control" id="pin" placeholder="Pincode" name="pincode">
                </div>
                <div class="form-group">
                    <label for="mobile">Mobile</label>
                    <input type="number" class="form-control" id="num" placeholder="Mobile" name="mobile">
                </div>



        </div>
        <div class="col-md-6 mt-5 pl-5">
            
            <h5>Total Amount : Rs.{{total}}</h5>
            <hr>
            <p>Payment Method</p>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="payment-method" id="payment" value="COD" checked>
                <label class="form-check-label" for="COD">
                   COD
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="payment-method" id="online" value="Online-Payment">
                <label class="form-check-label" for="online">
                    Online Payment
                </label>
            </div>
            <input type="text" name="userId" value="{{user._id}}" hidden>
            <button class="btn btn-primary mt-3" type="submit">Checkout</button>
    </form>




        </div>
    </div>
 </div>
</div> 

<script>
    $('#checkout-form').submit((e)=>{
        e.preventDefault()
        $.ajax({
            url:'/place-order',
            method:'post',
            data:$('#checkout-form').serialize(),
            success:(response)=>{
                {{!-- alert(response) --}}
                if(response.codSuccess){
                    location.href='/order-success'
                }else{
                    razorpayPayment(response)
                }
            }
        })
    })
    function razorpayPayment(order){
        var options = {
    "key": "rzp_test_7LcHNMwFG4GeNR", // Enter the Key ID generated from the Dashboard
    "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Pranav",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        {{!-- alert(response.razorpay_payment_id);
        alert(response.razorpay_order_id);
        alert(response.razorpay_signature) --}}

        verifyPayment(response,order)
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9999999999"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
    rzp1.open();
    }
    function verifyPayment(payment,order){
        $.ajax({
            url:'/verify-payment',
            data:{
                payment,
                order
            },
            method:'post'
            success:(response)=>{
                if(response.status){
                      location.href='/order-success'
                }else{
                    alert('Payment failed')
                }
            }
        })
    }
</script>